
/* Reset default margins and paddings */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Body styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    /* Container styles */
         .container {
           width: 400px;
           padding: 20px;
           background-color: #fff;
           border-radius: 5px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           width: 100%;
           hight: 100%;
           background-color: #f1f1f1;

         }

    /* Buttons styles */
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #337ab7;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin-right: 10px;
      transition: background-color 0.3s ease;
    }

    .button:hover {
      background-color: #135f99;
    }

    /* Table styles */
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    /* Download button styles */
    .download-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
      transition: background-color 0.3s ease;
    }

    .download-button:hover {
      background-color: #3e8e41;
    }
